{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<section class="main">
  <div class="goal_container">
    <h1 class="goal_title">{{ goal.name }}</h1>
    <h3 class="goal_subtitle">하루 {{ goal.goal_hour }}시간{{ goal.goal_minute }}분 운동하기</h3>
  </div>
  <div class="goal_boxes">
    <div class="goal_box start">
      시작<br><span class="goal_day">{{ start_days }}</span><br>일째
    </div>
    <div class="goal_box continuity">
      연속<br><span class="goal_day">{{ continuity_days }}</span><br>일째
    </div>
    <div class="goal_box success">
      성공<br><span class="goal_day">{{ success_days }}</span><br>일째
    </div>
  </div>
  <div class="goal_check">
    <table>
      <thead>
        <tr>
            {% for date in dates %}
                <th>{{ date }}</th>
            {% endfor %}
        </tr>
      </thead>
      <tr>
          {% for achievement in achievements %}
              {% if achievement %}
                  <th>O</th>
              {% elif achievement == False %}
                  <th>X</th>
              {% else %}
                  <th> </th>
              {% endif %}
          {% endfor %}
      </tr>
    </table>
  </div>
  <div class="goal_verify">
    <button class="btn1">인증하기</button>
  </div>
</section>

{% endblock %}