.btn1 {
  color: var(--main-orange-color);
  border: 1px solid var(--main-orange-color);
  background: var(--white-color);
  text-decoration: none;
  display: block;
  padding: var(--padding-small);
  width: 150px;
  text-align: center;
  font-weight: 800;
  border-radius: 3em;
}

.btn1:hover {
  color: var(--white-color);
  background: var(--main-orange-color);
  border: 1px solid var(--white-color);
}

.btn2 {
  color: var(--white-color);
  border: 1px solid var(--main-orange-color);
  background: var(--main-orange-color);
  text-decoration: none;
  display: block;
  padding: var(--padding-small);
  width: 150px;
  text-align: center;
  font-weight: 800;
  border-radius: 3em;
}

.btn2:hover {
  color: #f8b600;
  border: 1px solid #f8b600;
  background: #fff;
}
