.goal_title,
.goal_subtitle {
  text-align: center;
}

.goal_boxes {
  display: flex;
  justify-content: center;
}

.goal_box {
  border: 1px solid;
  text-align: center;
  width: 15%;
  font-size: 1.2rem;
  padding: var(--padding-large) 0;
  margin: 0 12px;
}

.goal_day {
  font-size: 2.5rem;
  font-weight: 800;
}

.goal_check {
  width: 100%;
  overflow-x: auto;
  padding: var(--padding-large) 0;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 0.5px solid;
  text-align: center;
  padding: var(--padding-small);
}

.goal_verify {
  display: flex;
  justify-content: flex-end;
  padding: var(--padding-large) 0;
}
