/*  공통 */
button.verify_btn {
  margin: 12px 0;
}

/* 공부시간 */
.goal_time {
  font-size: 10rem;
  font-weight: 800;
  text-align: center;
}

.verify_btnList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* 기상시간 */
button.wakeBtn {
  margin: 12px auto;
}

.verify_wakeTime {
  text-align: center;
}
